.tableContainer {
  height: 400;
  width: 100%;
  overflow-x: auto;
}

.MuiDataGrid-columnHeaderRow {
  background: red !important;
}

& .MuiDataGrid-root .MuiDataGrid-container--top [role="row"],
& .MuiDataGrid-root .MuiDataGrid-container--bottom [role="row"] {
  background: red !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaders {
  background: red !important;
}
